* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #fff;
    font-family: "DM Sans", sans-serif;
}

header {
    width: 100%;
    height: 129px;
}

/* top Bar */

.top-bar {
    width: 100%;
    background-color: #474747;
    height: 45px;
    flex-shrink: 0;
    color: #F9F9F7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.info {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    float: left;
    margin: 10px 0 0 150px;
}

.call, .mail i {
    font-size: 18px;
}

.call, .mail {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    float: right;
    margin: 10px 154px 0 0;
}

.social a {
    text-decoration: none;
    color: #FFFFFF;
}

.social i {
    font-size: 25px;
    transition: 0.3s ease;
}

.social i:hover {
    color: #787878;
}


/* navbar */

.nav-bar {
    height: 55px;
    flex-shrink: 0;
    padding: 60px 156px 0 152px;
    display: flex;
}

.nav-head {
    color: #474747;
    font-family: "Playfair Display", serif;
    font-size: 42.667px;
    font-style: italic;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.4px;
    display: inline;
    width: 250px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}


.homepage {
    width: 433px;
    height: 32px;
    margin: 0 0 0 350px;
}

.homepage ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homepage ul li a {
    text-decoration: none;
    color: #2C2F24;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.homepage ul li {
    padding: 4px 16px;
    transition: 0.3s ease;
}

.homepage ul li:hover {
    border-radius: 34px;
    background: #DBDFD0;
}

.nav-button button {
    font-family: "DM Sans", sans-serif;
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 118px;
    border: 2px solid #2C2F24;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    margin: -15px 0 0 340px;
}

.nav-button button:hover {
    background: #2C2F24;
    color: #fff;
}

/* main */

/* title */

.title-container {
    margin: 50px 0 0 0;
    background-image: url('img/title-img.png');
    background-size: cover;
    background-position: center 80%;
    background-repeat: no-repeat;
    height: 802px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
}

.elipse-bg {
    width: 729px;
    height: 729px;
    border-radius: 729px;
    background: #FFF;
    filter: blur(122px);
    z-index: 0;
    position: absolute;
}

.title {
    width: 667px;
    height: 392px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    z-index: 2;
}

.title-text {
    width: 667px;
    height: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.tt-head {
    color: #2C2F24;
    font-family: "Playfair Display", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
}

.tt-p {
    width: 537px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-btn {
    border-radius: 118px;
    border: none;
}

.hero-btn {
    text-decoration: none;
    color: #2C2F24;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 32px;
    border-radius: 118px;
    border: 1.5px solid #2C2F24;
    transition: 0.3s ease;
    cursor: pointer;
}


.hero-btn:hover {
    background: #AD343E;
    color: #F9F9F7;
    border: none;
}

/* menu */

#menu {
    width: 100%;
    height: 712px;
    flex-shrink: 0;
}

.menu-container {
    background: #FFF;
    width: 1600px;
    height: 650px;
    margin: 92px 152px 0 152px;
}

.menu-title {
    margin: 0 0 64px 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.menu-head {
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: 55px;
    line-height: 60.5px;
    color: #2C2F24;
    margin: 0 auto;
}

.content-card {
    width: 1600px;
    height: 400px;
    gap: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.a-card {
    width: 306px;
    height: 375px;
    margin: 0 24px 0 0;
}

.menu-circle, .menu-icon {
    margin: 40px 0 0 0;
    position: absolute;
    transform: translate(-50%, -50%);
}

.card-text {
    background: #FFF;
    border-radius: 12px;
    border: 1.5px solid #DBDFD0;
    width: 306px;
    height: 375px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card-text-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card-head {
    margin-top: 80px;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.72px;
    color: #2C2F24;
}

.card-pg {
    width: 238px;
    color: #414536;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.card-button {
    display: flex;
    width: 111px;
    height: 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
}

.card-button button {
    border-radius: 12px;
    border: none;
    background: none;
}

.card-button button a {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #AD343E;
    font-style: normal;
    line-height: 24px;
}

/* about */

.hp-about {
    width: 100%;
    height: 900px;
    background: #F9F9F7;
}

.about-content {
    width: 1296px;
    height: 616px;
    display: inline-flex;
    align-items: center;
    gap: 150px;
    margin: 120px 303px 120px 303px;
}

.about-img-card {
    position: relative;
}

.about-img {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 12px;
    background: #DBEAFE;
}

.about-img img {
    border-radius: 12px;
    background: url("img/hp-about-img.jpg") lightgray 50% / cover no-repeat;
}

.about-card {
    width: 411px;
    height: 321px;
    bottom: -50px;
    right: -50px;
    position: absolute;
}

.about-card-bg {
    width: 411px;
    height: 321px;
    border-radius: 12px;
    background: #474747;
    position: absolute;
}

.about-card-text {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: inline-flex;
    width: 311px;
    height: 221px;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
    background: #474747;
}

.about-card-text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.72px;
    color: #FFF;
}

.about-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.info-items {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.info-items i {
    font-size: 24px;
    color: #FFF;
}

.info-items span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #F9F9F7;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.text-title {
    gap: 24px;
}

.text-title h2 {
    font-size: 55px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    line-height: 60.5px;
    color: #2C2F24;
    margin-bottom: 24px;
}

.title-p-1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #2C2F24;
}

.title-p-2 {
    color: #414536;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.title-p-1, .title-p-2 {
    margin-bottom: 24px;
}

.about-btn {
    display: flex;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 118px;
    border: 1px solid #2C2F24;
    cursor: pointer;
    background: #F9F9F7;
}

.about-btn {
    background: #F9F9F7;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    transition: 0.3s ease;
}

.about-btn {
    color: #182226;
    transition: 0.3s ease;
}

.about-btn:hover {
    color: #fff;
}

.about-btn:hover {
    color: #FFF;
    background: #2C2F24;
    border: none;
}

/* services */

.hp-services {
    width: 100%;
    height: 900px;
}

.service-content {
    display: inline-flex;
    background: #FFF;
    width: 1296px;
    height: 628px;
    margin: 120px 303px 120px 303px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.service-title {
    justify-content: center;
    align-items: center;
    gap: 391px;
}

.service-title h2 {
    width: 675px;
    font-family: "Playfair Display", serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 60.5px;
    color: #2C2F24;
}

.service-card {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.service-card-item {
    width: 306px;
    height: 443px;
}

.service-card-item img {
    border-radius: 12px;
    width: 306px;
    height: 320px;
    margin-bottom: 15px;
}

.service-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 16px;
}

.service-text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.72px;
    color: #2C2F24;

}

/* content */

.hp-content {
    width: 100%;
    height: 900px;
    background: #F9F9F7;
}

.content-content {
    display: flex;
    width: 100%;
    max-width: 1296px;
    height: 627px;
    padding: 120px 303px 120px 303px;
}

.content-img {
    display: flex;
    gap: 20px
}

.content-img-l {
    width: 431px;
    height: 600px;
    border-radius: 12px;
}

.content-img-group {
    flex-direction: column;
}

.content-img-m {
    width: 290px;
    height: 333px;
    border-radius: 12px;
    margin-top: 30px;
}

.content-img-s {
    margin-top: 20px;
    width: 290px;
    height: 240px;
    border-radius: 12px;
}

.content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.content-title {
    width: 470px;
    height: 189px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 140px 0 20px 60px;
}

.content-title h2 {
    color: #2C2F24;
    font-family: "Playfair Display", serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 60.5px;
}

.content-title p {
    font-size: 16px;
    color: #414536;
    font-weight: 400;
    line-height: 24px;
}

.content-features {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 120px;
    padding-left: 75px;
}

.features-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.features-article {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.features-circle {
    color: #AD343E;
    font-size: 40px;
    position: absolute;
    z-index: 1;
}

.features-icons {
    color: #FFFFFF;
    font-size: 18px;
    z-index: 2;
    position: absolute;
}

.features-list-text {
    color: #2C2F24;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: -30px;
}

/* testimonial */

.hp-testimonial {
    width: 100%;
    height: 700px;
    background: #FFFFFF;
}

.testimonial-content {
    width: 100%;
    max-width: 1296px;
    height: 533px;
    display: grid;
    gap: 64px;
    margin: 120px 303px 0 303px;

}

.title-testimonial h2 {
    font-family: "Playfair Display", serif;
    font-size: 55px;
    line-height: 60.5px;
    color: #2C2F24;
    font-weight: 500;
    gap: 20px;
    text-align: center;

}

.card-testimonial {
    display: flex;
    width: 1296px;
    height: 408px;
    column-gap: 24px
}

.card-testimonial-item {
    width: 416px;
    height: 408px;
    background: #F9F9F7;
    border-radius: 15px;
}

.card-content-testimonial {
    width: 346px;
    height: 328px;
    display: grid;
    margin: 40px 34px 0 34px;
    gap: 32px;
}

.card-content-testimonial h3 {
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.72px;
    line-height: 30px;
    color: #AD343E;
}

.card-content-testimonial p {
    font-size: 18px;
    width: 346px;
    height: 140px;
    line-height: 28px;
    color: #414536;
}

.card-content-testimonial hr {
    width: 346px;
    height: 1px;
    border: 0.5px solid #DBDFD0;

}

.card-user-testimonial {
    width: 211px;
    height: 70px;
    display: flex;
    gap: 20px;
}

.card-user-text-testimonial {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card-user-text-testimonial h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    width: 150px;
}

.card-user-text-testimonial span {
    width: 150px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

/* blog */

.hp-blog {
    width: 100%;
    height: 1110px;
    background: #F9F9F7;
}

.blog-content {
    width: 100%;
    max-width: 1296px;
    height: 860px;
    margin: 0 303px 0 303px;
    padding-top: 120px;
}

.title-blog {
    width: 1296px;
    height: 64px;
    display: flex;
}

.title-blog h2 {
    font-size: 55px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    line-height: 60.5px;
    text-align: left;
}

.blog-btn {
    padding: 20px 32px;
    border-radius: 118px;
    background: #AD343E;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 24px;
    margin-left: 600px;
    cursor: pointer;
    transition: 0.3s ease;
}

.blog-btn:hover {
    background: #bdbdbd;
    color: #2C2F24;
}

.homepage-blog-cards {
    padding-top: 5%;
    height: 732px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 15px;
}

.homepage-blog-card-1 {
    { grid-area: 1 / 1 / 2 / 2; }
    width: 636px;
    height: 732px;
    border: 1px solid #F9F9F7;
    border-radius: 12px;
    box-shadow: 0 2.979px 59.574px 0 rgba(0, 0, 0, 0.08);
}

.homepage-blog-card-1-text {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.homepage-blog-card-1-date {
    color:#737865 ;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.homepage-blog-card-1-head {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color:#2C2F24 ;
}

.homepage-blog-card-1-paragraph {
    color:#414536;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.homepage-blog-card-4-pieces {
  { grid-area: 1 / 2 / 2 / 3; }
}

.homepage-blog-card-pieces-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    height: 732px;
}

.homepage-blog-card-piece-1 {
{ grid-area: 1 / 1 / 2 / 2; }
}

.homepage-blog-card-piece-2 {
{ grid-area: 1 / 2 / 2 / 3; }
}

.homepage-blog-card-piece-3 {
{ grid-area: 2 / 1 / 3 / 2; }
}

.homepage-blog-card-piece-4 {
{ grid-area: 2 / 2 / 3 / 3; }
}

.homepage-blog-card-piece {
    width: 307px;
    height: 354px;
    border-radius: 12px;
    border: 1px solid #F9F9F7;
    box-shadow: 0 2.979px 59.574px 0 rgba(0, 0, 0, 0.08);
}

.homepage-blog-card-piece img {
    border-radius: 12px 12px 0 0;
}

.homepage-blog-card-piece-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 5%;
}

.homepage-blog-card-piece-date {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #737865;
}

.homepage-blog-card-piece-head {
    color: #2C2F24;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}



/* footer */

footer {
    position: static;
    width: 100%;
    height: 800px;
    flex-shrink: 0;
    background: #474747;
}

.footer-content {
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 120px 152px 0 152px;
    justify-content: flex-start;
    align-items: center;
}

.footer-top {
    display: inline-flex;
    align-items: flex-start;
    padding: 0 0 130px 0;
    gap: 135px;

}

.ft-col-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ft-head {
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 32.67px;
    line-height: 29.333px;
    font-style: italic;
    letter-spacing: -0.4px;
    color: #FFF;
    display: inline;
}

.ft-pg {
    width: 293px;
    color: #ADB29E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer-social {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.footer-social a {
    text-decoration: none;
    color: #AD343E;
}

.footer-social i {
    font-size: 30px;

}

.ft-col-2 {
    display: flex;
    align-items: flex-start;
    gap: 120px;
}

.ft-pt-1-head {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

footer ul {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #DBDFD0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: 0.3s ease;
}

footer ul li a:hover {
    color: #AD343E;
}


.ft-pt-2-head {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    width: 200px;
}

.ft-col-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 403px;
    height: 419px;


}

.ft-col-3-head {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-img {
    margin: 40px 0 0 0;
    width: 403px;
    height: 335px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ft-img {
    width: 194px;
    height: 170px;
    margin-bottom: 10px;
}

.footer-img-box {
    width: 194px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 12px;
    background: lightgray;
}

.footer-img img {
    width: 194px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 12px;
}

.footer-bottom {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer hr {
    border: 1px solid #414536;
    width: 1350px;
}

.bottom-cp {
    color: #ADB29E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 30px;
}

.footer-social i {
    font-size: 32px;
    transition: 0.3s ease;
}

footer i:hover {
    color: #ADB29E;
}
